{{#section "project-style"}}
    <style>
        .projects {
            margin-bottom: 1rem;
            font-size: 1.2rem;
            word-spacing: 2px;
            letter-spacing: 1px;
        }

        .projects h3 {
            margin-bottom: 1rem;
            font-size: 1.5rem;
            color: #ff8243;
        }

        .project h4 {
            color: #ffc0cb;
        }

        .project p {
            color: #069494;
        }
    </style>
{{/section}}

<section class="projects">
    <h3>Projects: </h3>
    {{#each projects}}
    <div class="project">
        <h4>Finished project {{this.name}} ({{this.from}} - {{this.to}})</h4>
        <p>{{this.description}}</p>
    </div>
    {{/each}}
</section>